.task_frame{
    display: block;
    position:absolute;
    left:100px;
    top:10%;
    .abstract_style{
        color:white;
        font-size: 50px;
    }

}
.stack_frame{
    display: flex;
}
.library_description{
    width:80%;
    font-size: 2.5vh;
    color: white;
    // margin:2vh;
    h{
        margin-top:2vh;
        font-size: 4vh;
        color: white;
    }
}
.subtitle{
    font-size: 5vh;
    color: white;
}