.task_frame{
    display: block;
    position:absolute;
    top:10%;
    left:20%;
    .abstract_style{
        color:white;
        font-size: 50px;
    }

}
.stack_frame{
    display: flex;
}
.library_description{
    width:50%;
    font-size: 20px;
    color: white;
    
}