.about-page{
    .text-zone{
        position:absolute;
        left:100px;
        top:42%;
        // transform:translateY(-50%);
        width:80%;
        vertical-align:middle;
        display:table-cell;
        max-height:90%;
        color:white;

        h1{
            font-size:5vh;
            font-family:"Coolvetica";
            color:#ffd700;
            font-weight:200;
            margin-top:0;
            position:relative;
            margin-top:3vh;
            margin-bottom:2vh;
            left:10px;

        }
        p{
            font-size:2vh;
            color:#fff;
            font-family:sans-serif;
            font-weight:500;
            min-width:fit-content;
            animation:pulse 1s;
            &:nth-of-type(1){
                animation-delay:1.1s;
            }

            &:nth-of-type(2){
                animation-delay:1.1s;
            }
            &:nth-of-type(3){
                animation-delay:1.1s;
            }
        }

    }
}
.stage-cube-cont{
    width:50%;
    height:100%;
    // top:-5%;
    padding-top:5%;
    margin-left:0;
    position:relative;
    right:0;
    // overflow:hidden;
    h1{
        font-size:5vh;
        font-family:"Coolvetica";
        color:#ffd700;
        font-weight:400;
        margin-top:0;
        position:relative;
        margin-bottom:40px;
        left:100px;
    }

}
.cubespinner{
    animation-name: spincube;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style:preserve-3d;
    transform-origin:10vh 10vh 0;
    margin-left:calc(50%);

    div{
        position:absolute;
        width:10vh;
        height:10vh;
        border:1px solid #ccc;
        background:rgba(255,255,255, 0.4);
        font-size:10vh;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 0 0 4vh 0px lightyellow;
    }
    .face1{
        transform:translateZ(10vh);
    }
    .face2{
        transform:rotateY(90deg) translateZ(10vh);
    }
    .face3{
        transform:rotateY(90deg)  rotateX(90deg) translateZ(10vh);
    }
    .face4{
        transform:rotateY(180deg) rotateZ(90deg) translateZ(10vh);
    }
    .face5{
        transform:rotateY(-90deg) rotateZ(90deg) translateZ(10vh);
    }
    .face6{
        transform:rotateX(-90deg) translateZ(10vh);
    }
}

@keyframes spincube{
    from,
    to{
        transform: rotete(0deg) rotateY(0deg) rotateZ(0deg)
    }
    16%{
        transform:  rotateY(-90deg) 
    }
    33%{
        transform:  rotateY(-90deg) rotateZ(-90deg)
    }
    50%{
        transform:  rotateY(-180deg) rotateZ(90deg)
    }
    66%{
        transform:  rotateY(-270deg) rotateZ(90deg)
    } 
    83%{
        transform:  rotateX(-90deg)  
    }

}